<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- title of webapp tab -->
    <title>Hey Ü | Profile</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bootstrap/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="bootstrap/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="bootstrap/css/creative.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/profilepage.css" type="text/css">
</head>
<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">Welcome</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                  <a class="page-scroll" href="/">Home</a>
              </li>
              <li>
                  <a class="page-scroll" href="/schedule">Schedule</a>
              </li>
              <li>
                  <a class="page-scroll" href="/map">Map</a>
              </li>
              <li>
                <a class="page-scroll" href="/logout">Logout</a>
              </li>
            </ul>
        </div>
    </div>
</nav>
  <header>
      <div class="header-content">
          <div class="header-content-inner">
              <h1>Hey {{current_user}}</h1>
              <hr>
              <p>Find Your Friends</p>
              <a href="/map" class="btn btn-primary btn-xl page-scroll">Explore</a>
          </div>
      </div>
  </header>
  <section class="bg-primary" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">Your Profile</h2>
                  <hr class="light">
                  <p class="text-faded"></p>

                  <div id="ProfilePage">
                    <div id="LeftCol">
                      <div id="Photo"></div>
                      <div id="ProfileOptions">
                        {{current_user}}
                      </div>
                    </div>
                    <div id="Info">
                      <div>
                        <form method="post">
                          <input type="text" name="first_name" placeholder="{{user.first_name}}">
                          <br>
                          <br>
                          <input type="text" name="last_name" placeholder="{{user.last_name}}">
                          <br>
                          <br>
                          <input type="text" name="subject" placeholder="{{user.subject}}">
                          <br>
                          <br>
                          <input type="text" name="major" placeholder="{{user.major}}">
                          <br>
                          <br>
                          <!-- <input type="text" name="date_of_birth" placeholder="Date of Birth">
                          <br>
                          <br> -->
                          <INPUT TYPE="button" onClick="history.go(0)" VALUE="Update" class="btn btn-default btn-xl">
                        </form>

                        <!-- all the post stuff is text boxes so that the user can change their information -->
                      </div>
                        <p>
                            <strong>Name:</strong>
                            <span>{{user.first_name + " " + user.last_name}}</span>
                        </p>
                        <p>
                            <strong>University:</strong>
                            <span>University of Illinois at Urbana-Champaign</span>
                        </p>
                        <p>
                            <strong>Major:</strong>
                            <span>{{user.major}}</span>
                        </p>
                        <p>
                            <strong>Subject:</strong>
                            <span>{{user.subject}}</span>
                        </p>
                        <p>
                            <strong>Friends:</strong>
                            <span>{{user.friends}}</span>
                        </p>
                        <p>
                            <strong>Email:</strong>
                            <span>{{user.email_address}}</span>
                        </p>
                        <p>
                            <strong>Schedule:</strong>
                            <span>{{user.schedule}}</span>
                        </p>
                    </div>
                    <!--this is all infomation that is retrieved from the backend, it was documented in main.py and is the user object that was sent -->
                    <!-- Needed because other elements inside ProfilePage have floats -->
                    <div style="clear:both"></div>
                  </div>
                  </br>
                  <!-- button looks  for nearby buddy for user on google maps (still in testing)-->
                  <button onclick="location.href = 'http://localhost:8080/map';" id="Find me a buddy!" class="btn btn-default btn-xl" >Find me a buddy!</button>
              </div>
          </div>
      </div>
  </section>

    <script src="bootstrap/js/jquery.js"></script>
    <script src="scripts/schedule.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/jquery.easing.min.js"></script>
    <script src="bootstrap/js/jquery.fittext.js"></script>
    <script src="bootstrap/js/wow.min.js"></script>
    <script src="bootstrap/js/creative.js"></script>
</body>
</html>
