table td {
  width:150px;
  height:30px;
  margin-top:500px;
  text-align:center;
  vertical-align:middle;
  background-color: #ccc;
  border:1px solid #fff;
}

#our_table{
  position:relative;
  top:100px;
  left: 200px;
  margin-top: 50px;
}
#demo {
  position:relative;
  bottom:  350px;
  right: 220px;
  margin-top: 90px;
 }

 #practice {
   position:relative;
   bottom:  150px;
   left: 140px ;
   margin-top: 90px;
  }
#find_button_id {
  position:relative;
  bottom:  350px;
  left: 100px;
  margin-top: 90px;
}
table td.highlighted {
  background-color: #ff9900;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



demo_10.highlighted {
  background-color: #5CE62E;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
